<div class="dashboard">
  <div class="dashboard-header">
    <div class="container">
      <h2>Welcome</h2>
      <p>What would you like to do?</p>
    </div>
  </div>
  <div class="container">
    <div class="dashboard-cards">
      <app-dashboard-card
        title="Upload data"
        image="assets/img/Upload Data.png"
        image_alt="Upload Data"
        desc="Submit member and cashflow data to Hvmans Robertson vIa our single
        secure data suomission portal with real data validation."
        appUrl="https://app-url.com"
      ></app-dashboard-card>

      <app-dashboard-card
        title="See my documents"
        image="assets/img/See my documents.png"
        image_alt="See my documents"
        desc="Access all your advice and documents from hymans Robertson via our
        secure online storage acity."
        appUrl="https://app-url.com"
      ></app-dashboard-card>

      <app-dashboard-card
        title="Whole fund funding update"
        image="assets/img/Whole fund update.png"
        image_alt="Whole fund update"
        desc="Monitor and view latest whole fund funding position."
        appUrl="https://app-url.com"
      ></app-dashboard-card>

      <app-dashboard-card
        title="Employer funding update"
        image="assets/img/Employer funding update.png"
        image_alt="Employer funding update"
        desc="Calculate an updated funding level or indicative cessation
      valuation for an emplover. View and download reports to share with
      vour emplovers"
        appUrl="https://app-url.com"
      ></app-dashboard-card>
    </div>
  </div>
</div>
