@import "assets/scss/variables";

.card {
  padding: 1.5rem;
  border-radius: 0.7rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.1);
  background-color: $white-100;
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 10rem;
    height: 100%;
    object-fit: contain;
    transition: all ease 0.3s;
  }
  &:hover {
    img {
      scale: 1.05;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    h4 {
      font-size: 1.7rem;
      margin: 0;
      color: $grey-500;
    }
    p {
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
    a {
      text-decoration: none;
      font-family: $font-md;
      font-size: 1.4rem;
      color: $grey-500;
      margin-top: auto;
      display: flex;
      align-items: center;
      transition: all ease 0.3s;
      &:hover {
        color: $green-400;
      }
    }
  }
}
